{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "target": "es3",
    "parser": {
      "syntax": "typescript"
    },
    "minify": {
      "compress": true
    }
  },
  "minify": true
}
